@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
	<p>Hello! I'm Lewis Senior, a Technical Services Manager for a small MSP looking for an opportunity with a focus on hybrid cloud infrastructure.</p>
	<p>The idea for this website is to demonstrate how you can implement DevOps processes to deploy a simple Azure App Service using IaC (Terraform), CI/CD (Github Actions), along with some simple bash scripting to build and push the docker image to docker hub but will likely replace this with Packer.</p>
	<p>Over time I would like to show the latest build status on this page and deploy the webapp to a container registry, all automated...</p>
</div>
