@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<p>Hello! I'm Lewis Senior, a Technical Services Manager for a small MSP looking for an oportunity with a focus on hybrid cloud infrastructure.</p>
	<p>The idea for this website is to demonstrate how you can implement DevOps processes to deploy a simple Azure App Service using IaC (Terraform), CI/CD (Github Actions), along with some simple powershell scripting to deploy the completed webapp to Azure.</p>
	<p>Over time I would like to show the latest build status on this page and also deploy the webapp to a container registry, all automated.</p>
</div>
